<html>
<head>
  <title>Nelisa's App</title>
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/custom.css">

</head>
<body>
  <div class="row">
    <ul class="sidebar">
    <li class="sidebar-brand"><a href="http://localhost:3001">Home</a></li>
  <li><a onclick = "location.href='http://localhost:3001/products'">Products</a>
  <li><a onclick = "location.href='http://localhost:3001/'">Categories</a></li>
    <li><a onclick = "location.href='http://localhost:3001/'">SoldProducts</a></li>
     <li><a onclick = "location.href='http://localhost:3001/sales'">Sales</a></li>
      <li><a onclick = "location.href='http://localhost:3001/'">Purchases</a></li>
  <li><a onclick = "location.href='http://localhost:3001/'">Suppliers</a></li>
    </ul>
  </div>

</body>
{{{body}}}
</html>