<html>
<head>
  <title>Nelisa's App</title>
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
  
  


</head>
<body>
  <div class="col-xs-6 col-md-4">
    <div class="row">

    <ul class="nav nav-stacked">
      <li class="nav nav-stacked"><a href="/home">Home</a></li>
          <li><a href = "/products">Products</a>
      <li><a href = "/Categories">Categories</a></li>
      <li><a href= "/SoldProducts">SoldProducts</a></li>
      <li><a href = "/Sales">Sales</a></li>
      <li><a href = "/Purchases">Purchases</a></li>
      <li><a href = "/Suppliers">Suppliers</a></li>
    </ul>
  </div>
</div>

</body>
{{{body}}}
</html>