<html>

<head>
  <title>Nelisa's App</title>
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/custom.css">
  <link rel="stylesheet" type="text/css" href="/css/signup.css">
  <link rel="style" type="text/class" href="/fonts/glyphicons-halfings-regular.eot">

</head>

<body>
  <div class="container">
      <div class="navbar-header">

        <a class="navbar-brand" href="/"><img id="logo" src="/img/logo1.png"></a>

      </div>
    </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">


        <ul class="nav nav-pills nav-stacked">
          <li class="nav nav-stacked"><a href="/">Home</a></li>
          <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">Products
         <span class="caret"></span>
            </a>
            <ul class="dropdown-menu dropdown-menu-right">
              <li><a href="/products">Product List</a></li>
              <li><a href="/products/Mostpopularproduct">Most Popular Product</a></li>
              <li><a href="/products/leastpopproduct">Least Popular Product</a></li>
              <!-- <li><a href ="/products/Productlist">Productlist</li> -->
            </ul>

            <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">Categories
         <span class="caret"></span>
       </a>
              <ul class="dropdown-menu dropdown-menu-right ">
                <li><a href="/Categories">Category List</a></li>
                <li><a href="/Categories/MostpopCategory">Most Popular Category</a></li>
                <li><a href="/Categories/LeastpopCategory">Least Popular Category</a></li>
                <li><a href="/Categories/Earnings">Earnings Per Category</a></li>
              </ul>
              <li><a href="/Sales">Sales</a></li>
              <li><a href="/Purchases">Purchases</a></li>
              <li><a href="/suppliers">suppliers</a></li>
              <li><a href="/logout">Sign Out</a></li>
        </ul>
      </div>
      </li>

      {{{body}}}
    </div>
  </div>
  </div>
  <script type="text/javascript" scr="/js/bootstrap.min.js"></script>
  <script src="/js/search.js"></script>
  <script type="text/javascript" src="/js/jquery-2.2.0.js"></script>


</body>

</html>
