<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Simple Sidebar - Start Bootstrap Template</title>

  <!-- Bootstrap Core CSS -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="/css/simple-sidebar.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/login.css">


  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

  <div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <li class="sidebar-brand">
          <a href="/">
                      Home
                    </a>
        </li>
        <li> <a href="javascript:;" data-toggle="collapse" data-target="#products"><i class="fa fa-fw fa-arrows-v"></i> Products <i class="fa fa-fw fa-caret-down"></i></a></li>
        <ul id="products" class="collapse">

            <li><a href="/products">Product List</a>  </li>

          <li>
            <a href="/products/Mostpopularproduct">Most Popular Product</a></li>

          <li>
            <a href="/products/leastpopproduct">Least Popular Product</a></li>

        </ul>

        <li> <a href="javascript:;" data-toggle="collapse" data-target="#categories"> Category </a></li>
        <ul id="categories" class="collapse">
          <li>
            <a href="/Categories">Category List</a>
          </li>
          <li>
          <a href="/Categories/MostpopCategory">Most Popular Category</a>
        </li>
        <li>
          <a href="/Categories/LeastpopCategory">Least Popular Category</a>
        </li>
        <li>
          <a href="/Categories/Earnings">Earnings Per Category</a>
          </li>

        </ul>
        <li>
          <a href="/Sales">Sales</a>
        </li>
        <li>
          <a href="/Purchases">Purchases</a>
        </li>
        <li>
          <a href="/suppliers">suppliers</a>
        </li>
        <li>
          <a href="/logout">Sign Out</a>
        </li>

      </ul>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            {{{body}}}
          </div>
        </div>
      </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- jQuery -->
  <script src="/js/jquery-2.2.0.js"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="/js/bootstrap.min.js"></script>

  <!-- Menu Toggle Script -->
  <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });

  </script>

  <script src="/js/search.js"></script>
  <script src="/login.js"></script>


</body>

</html>
