
<h1>Products</h1>
<a href="/products/add">Add product</a>


{{#no_products}}
  <p>No products available yet. Add some above.</p>
{{/no_products}}


<table>
<tr><thead>


<th>product name</th>
<th>Edit/Del</th>

</tr></thead>
<tbody>
	{{#products}}
<tr>


<td>{{product_name}}</td>
<td>  <a href="/products/edit/{{id}}">Edit</a>
  <a href="/products/delete/{{id}}">Delete</a></td>

</tr>
{{/products}}
</tbody>
</table>
