<div class=".col-xs-12" style="float:right">
<h1>Add</h1>

<form action="/products/add" method="POST">
	product_name: <input type="text" name="product_name" value="{{product_name}}">
	<select name="category_id">
	{{#categories}}
	<option value="{{id}}">{{category_name}}
	</option>
	{{/categories}}
	</select>
	<input type="submit">
</form>
</div>
