<div class="sisonke">
<h1>Add A Category</h1>

<form action="/categories/add" method="POST">
	Category_Name: <input type="text" name="category_name" value="{{category_name}}">

	<input type="submit">
</form>
</div>
