<div class="sisonke">
<h1>Add</h1>

<form action="/categories/add" method="POST">
	Category_name: <input type="text" name="category_name" value="{{category_name}}">

	<input type="submit">
</form>
</div>
