<div class="sisonke">
	<h1>Add A supplier</h1>

	<form action="/suppliers/add" method="POST">
		suppliers_name:
		<input type="text" name="suppliers_name" value="{{suppliers_name}}">

		<input type="submit">
	</form>
</div>
