<h1>AddSales</h1>

<form action="/sales/add" method="POST">
	sales: <input type="text" name="product_name" value="{{product_name}}">
	<select name="category_id">
	{{#categories}}
	<option value="{{id}}">{{category_name}}
	</option>
	{{/categories}}
	</select>
	<input type="submit">
</form>
