<h1>AddSales</h1>

<form action="/sales/add" method="POST">
	<select name="product_id">
	{{#products}}
	<option value="{{id}}">{{product_name}}
	</option>
	{{/products}}
	</select>

	<input type="number" name="qty" placeholder="Quantity"></input>

	<input type="date" name="sales_date" placeholder="Date"></input>
	<input type="number" name="price" placeholder="Price"></input>

	<input type="submit">
</form>
