<h1>Category List</h1>

<form class="navbar-form navbar-left" role="search" action="/categories/search" method="post">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Search" name="searchValue">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>


<a href="/categories/add">Add Category</a>


{{#no_products}}
  <p>No products available yet. Add some above.</p>
{{/no_products}}

<div class="rows">
  <table class="table table-bordered">
    <thead>

      <tr>
        <th>Category</th>
        <th>Edit/Delete</th>

      </tr>
    </thead>
    <tbody>
      {{#categories}}
        <tr>
          <td>{{category_name}}</td>
          <td> <a href="/categories/edit/{{id}}">Edit</a>
            <a href="/categories/delete/{{id}}">Delete</a></td>
        </tr>
      {{/categories}}
    </tbody>
  </table>

</div>
