<div class="col-md-8">
<h1>Earnings Per Category</h1>
<table class="table table-bordered">

  <tr>
    <th>category_name</th>
    <th>Per Earnings</th>
  </tr>
  </thead>

  {{#Earnings}}
    <tr>
      <td>{{category_name}}</td>
      <td>R {{Earnings}}</td>
    </tr>

  {{/Earnings}}
</table>
</div>
