<h1>LeastpopCategory</h1>
 <table>
  <thead>
   	<tr>
			<th>product name</th>
		  <th>Quantity</th>
		</tr>
	</thead>

{{#LeastpopCategory}}
		<tr>
				<td>{{category_name}}</td>
  				<td>{{qty}}</td>
		</tr>

{{/LeastpopCategory}}
</table>
