<link rel="style" type="text/class" href="/fonts/glyphicons-halfings-regular.eot">
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/custom.css">


<div class="login">
  <div class="heading">

    <h1><em>Welcome To Nelisa's Spaza Store </em></h1>



    <form action="/login" method="post">

      <div class="input-group input-group-lg">


        <span class="input-group-addon"><i class="fa fa-user"></i></span>
        <input type="text" name="username" class="form-control" placeholder="Username or email" required>
      </div>

      <div class="input-group input-group-lg">
        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
        <input type="password" name="password" class="form-control" placeholder="Password" required>
      </div>

      <button type="submit" class="float">Login</button>

      <p class="signup">Don't have an account? <a href="signup">sign up</a></p>
      {{messages.message}}
