<h1>Mostpopularproduct</h1>
 <table>
  <thead>
   	<tr>
			<th>product name</th>
		  <th>Quantity</th>
		</tr>
	</thead>

{{#Mostpopularproduct}}
		<tr>
				<td>{{product_name}}</td>
				<td>{{qty}}</td>
		</tr>
{{/Mostpopularproduct}}
</table>
