<h1>MostpopCategory</h1>
<table class="table table-bordered">
   	<tr>
			<th>Product Name</th>
		  <th>Quantity</th>
		</tr>
	</thead>

{{#MostpopCategory}}
		<tr>
				<td>{{category_name}}</td>
  				<td>{{qty}}</td>
		</tr>

{{/MostpopCategory}}
</table>
