<div class="col-md-8">
<h1>Mostpopularproduct</h1>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Product Name</th>
      <th>Quantity</th>
    </tr>
  </thead>

  {{#Mostpopularproduct}}
    <tr>
      <td>{{product_name}}</td>
      <td>{{qty}}</td>
    </tr>
  {{/Mostpopularproduct}}
</table>
</div>
