


<h1>Products</h1>


{{#no_products}}
  <p>No products available yet. Add some above.</p>
{{/no_products}}

<div class="rows">
  <a href="/products/add"><em>Add product</em></a>

<table class="table table-bordered">

  <thead>

 <tr>
<th><em>Product Name</em></th>
<th><em>Category</em></th>
<th>Edit/Delete</th>

</tr>
   	</thead>
   	<tbody>
	{{#products}}
<tr>
<td>{{product_name}}</td>
<td>{{category_name}}</td>
<td>  <a href="/products/edit/{{id}}">Edit</a>
  <a href="/products/delete/{{id}}">Delete</a></td>
</tr>
{{/products}}
</tbody>
</table>


</div>
