
<h1>Products</h1>
<a href="/products/add">Add product</a>


{{#no_products}}
  <p>No products available yet. Add some above.</p>
{{/no_products}}

<div class="rows">
<table>
<tr><thead>


<th>product name</th>
<th>Edit/Del</th>

</tr></thead>	
<tbody>
	{{#products}}
<tr>
	

<td>{{product_name}}</td>
<td>  <a href="/products/edit/{{id}}">Edit</a>
  <a href="/products/delete/{{id}}">Delete</a></td>




</tr>
{{/products}}
</tbody>
</table>


<div>
<button type="submit" onclick = "location.href='http://localhost:3001/products/add'" >+add</button> 
</div>
</div>