<div class="col-md-8">
<h1>Products</h1>
<form class="navbar-form navbar-left" role="search" action="/products/search" method="post">
  <div class="form-group">
    <input type="text" class="form-control" placeholder= "search..." id ="search" name="searchValue">
  </div>
   <!-- <button type="submit" class="btn btn-default">Submit</button> -->
</form>

{{#no_products}}
  <p>No products available yet. Add some above.</p>
{{/no_products}}


<table class="table">
  <tr>
    <thead>

      <th>product name</th>
      <th>Edit/Del</th>

  </tr>
  </thead>
  <tbody>
    {{#products}}
      <tr>

        <td>{{product_name}}</td>
        <td> <a href="/products/edit/{{id}}">Edit</a>
          <a href="/products/delete/{{id}}">Delete</a></td>

      </tr>
    {{/products}}
  </tbody>
</table>
</div>
