
    <thead>

      <tr>
        <th><em>Product Name</em></th>
        <th><em>Category</em></th>

      </tr>
    </thead>
    <tbody>
      {{#products}}
        <tr>
          <td>{{product_name}}</td>
          <td>{{category_name}}</td>
          {{#if admin}}
          <td> <a href="/products/edit/{{id}}">Edit</a>
            <a href="/products/delete/{{id}}">Delete</a></td>
            {{/if}}
        </tr>
      {{/products}}
    </tbody>
  <a href="/products"><button>Show All</button></a>
