  <table class="navbar-form navbar-left">

    <thead>

      <tr>
        <th><em>Product Name</em></th>
        <th><em>Category</em></th>
        <th>Edit/Delete</th>

      </tr>
    </thead>
    <tbody>
      {{#products}}
        <tr>
          <td>{{product_name}}</td>
          <td>{{category_name}}</td>
          <td> <a href="/products/edit/{{id}}">Edit</a>
            <a href="/products/delete/{{id}}">Delete</a></td>
        </tr>
      {{/products}}
    </tbody>
  </table>
  <a href="/products"><button>Show All</button></a>
