<table class="table table-bordered">
  <thead>

    <tr>
      <th>Category</th>
      <th>Edit/Delete</th>

    </tr>
  </thead>
  <tbody>
    {{#categories}}
      <tr>
        <td>{{category_name}}</td>
        {{# if admin}}
        <td> <a href="/categories/edit/{{id}}">Edit</a>
          <a href="/categories/delete/{{id}}">Delete</a></td>
          {{/if}}
      </tr>
    {{/categories}}
  </tbody>

  <a href="/categories"><button>Show All</button></a>
v
