<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/custom.css">
  <link rel="stylesheet" type="text/css" href="/css/signup.css">


<h1><em>Welcome to Nelisa Spaza Cash Store</em></h1>


<body>
  <form class="sign-up" action="/signup" method="post">
  <input type="text" name="username" class="form-control" placeholder="Username"><br>
  <input type="password" name="password" class="form-control" placeholder="Password"><br>
  <input type="submit" value="Sign Up!">
  </form>
  </body>
