<h1>Suppliers</h1>


{{#no_products}}
  <p>No products available yet. Add some above.</p>
{{/no_products}}

<div class="rows">
  <a href="/suppliers/add"><button>Add A Supplier</button></a>

  <table class="table table-bordered">

    <thead>

      <tr>
        <th>suppliers</th>
        <!-- <th>Edit</th>
        <th>Delete</th> -->

      </tr>
    </thead>
    <tbody>
      {{#suppliers}}
        <tr>
          <td>{{suppliers_name}}</td>
          {{#if admin}}
          <td><a href="/suppliers/editSuppliers/{{id}}"><span class="glyphicon glyphicon-pencil"></span></a></td>
            <td><a href="/suppliers/delete/{{id}}"><span class="glyphicon glyphicon-trash"></span></a></td>
            {{/if}}
        </tr>
      {{/suppliers}}
  </table>
  </tbody>
  </table>

</div>
